@layer reset, base, components, utilities;

:root {
  /* Spacing */

  /* Text */

  /* Borders */

  /* Shadows */

  /* Focus rings */

  /* Easing functions from https://easings.net/ */

  /* Layout */

  /* Z-index */
}
