/*
 * Button component styles.
 */
@layer components {
  /* .btn {
    align-items: center;
    border-radius: 99rem;
    border: 1px solid var(--color-ink-light);
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    gap: 0.5em;
    justify-content: center;
    padding: 0.5em 1.1em;
  } */

  /* Variants */
  /* .btn--primary {} */
  /* .btn--secondary {} */
  /* .btn--negative {} */
}
