@layer utilities {
  /* Text */

  /* Flexbox and Grid */

  /* Sizing */

  /* Overflow */

  /* Padding */

  /* Margins */

  /* Position */

  /* Fills */

  /* Borders */

  /* Shadows */

  /* Lists */

  /* Accessibility */

  /* Visibility */
}
